<div class="row resultcontainer">
<%= for environment <- @environments do %>
  <div class="card <%= background_environment_status(environment) %>">
    <div class="card-body">
      <h1 class="card-title"><%= environment.name %></h1>
      <div class="card-text">
      <%= if has_owner(environment) do %>
      <p class="lead">Owner: <%= environment.owner %></p>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>