<div class="row resultcontainer">
<%= for environment <- @environments do %>
  <div class="card <%= background_environment_status(environment) %>">
    <div class="card-body">
      <h1 class="card-title"><%= environment.name %></h1>
      <%= if has_owner(environment) do %>
      <div class="card-text">
      <h3><%= environment.owner %></h3>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<span id="whats_where_environment_update_listener"></span>